/* GENERAL */

body {
    margin: 0;
    background: white;
    color: #000000;
}

h1,
h2,
h3 {
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    border-bottom: 3px solid black;
}

.logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo img {
    width: 60px;
}

.logo-texto {
    display: flex;
    flex-direction: column;
    font-size: 28px;
    font-weight: bold;
}

.receta {
    color: #9db44e;
}

.facil {
    color: black;
}

.menuGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.menuGrid .left {
    display: flex;
    justify-content: left;
}

.menuGrid .center {
    display: flex;
    justify-content: center;
}

.menuGrid .right {
    display: flex;
    justify-content: right;
}

.menuGrid {
    background-color: rgb(0, 0, 0);
    color: white;
}
.center:hover{
    background-color: #72a857;
    color: black;
}

.cabecera {
    background-image: url(./Imagenes/platillo.jpg);
    height: 25rem;
    background-position: center center;
    background-size: cover;
    width: 80%;
    margin: auto;
    border-radius: 10px;
    box-shadow: #00000081 4px 3px 4px 5px;
}

.titulo-receta {
    text-align: center;
    margin: 30px 0;
    font-size: 28px;
    font-weight: bold;
}

/* RECETA */

.receta-contenedor {
    display: flex;
    padding: 20px 50px;
}

.panel-lateral {
    background: #bedd42;
    padding: 20px;
    border-radius: 6px;
    width: 180px;
    height: max-content;
    font-size: 18px;
}

.panel-lateral p {
    margin: 25px 0;
    text-align: center;
    color: white;
}

.receta-texto {
    flex: 1;
    padding-left: 40px;
    position: relative;
}

.destacado {
    padding: 15px;
    margin: 25px 0;
    font-style: italic;
}

.pizza-derecha {
    width: 250px;
    float: right;
    margin-left: 20px;
    border-radius: 8px;
}

.pizza-izquierda {
    width: 300px;
    margin-top: 20px;
    border-radius: 8px;
    float: left;
    margin: right;
}

.contacto {
    margin: 50px 50px;
    background: #dcdcdc;
    padding: 30px;
    border-radius: 6px;
}

.contacto h2 {
    margin-bottom: 20px;
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

input,
select,
textarea {
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 4px;
}

textarea {
    height: 120px;
    resize: vertical;
}

button {
    width: 130px;
    padding: 10px;
    background: #72a857;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
}
.footer {
    display: flex;
    justify-content: space-around;
    background: #cedf8a;
    padding: 40px 0;
}

.footer-column h3 {
    margin-bottom: 10px;
}

.footer-column p {
    margin: 5px 0;
    color: #444040;
}

.copy {
    text-align: center;
    padding: 10px;
    background: #ededed;
}